<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- Basic -->
    <title>Platform Web</title>
    <meta
      name="description"
      content=""
      data-react-helmet>
    <!-- FB -->
    <meta property="og:title" content="" data-react-helmet>
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="">
    <meta property="og:url" content="">
    <meta
      property="og:image"
      content=""
      data-react-helmet>
    <meta
      property="og:description"
      content=""
      data-react-helmet>
    <!-- Twitter -->
    <meta name="twitter:title" content="" data-react-helmet>
    <meta name="twitter:site" content="">
    <meta name="twitter:creator" content="">
    <meta
      name="twitter:image"
      content=""
      data-react-helmet>
    <meta
      name="twitter:description"
      content=""
      data-react-helmet>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="<%= require('common/assets/favicon-apple.png') %>">
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="<%= require('common/assets/favicon-32x32.png') %>">
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="<%= require('common/assets/favicon-16x16.png') %>">
    <meta name="msapplication-TileColor" content="#b91d47">
    <meta name="theme-color" content="#ffffff">
    <!--env:conf-->
    <% if (!DEV) { %>
      <%= require('html-loader!utils/analytics/bootstrap.html') %>
    <% } %>
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
