<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Language" content="en" />
    <title><%= APP_NAME %></title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="<%= require('assets/favicons/apple-touch-icon.png') %>"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="<%= require('assets/favicons/favicon-32x32.png') %>"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="<%= require('assets/favicons/favicon-16x16.png') %>"
    />
    <link
      rel="mask-icon"
      href="<$= require('assets/favicons/safari-pinned-tab.svg') %>"
      color="#5bbad5"
    />
    <meta name="msapplication-TileColor" content="#b91d47" />
    <meta name="theme-color" content="#ffffff" />
    <script
      src="https://browser.sentry-cdn.com/4.6.4/bundle.min.js"
      crossorigin="anonymous"
    ></script>
    <!--env:conf-->
  </head>
  <body>
    <div style="height:100%;" id="root"></div>
  </body>
</html>
