version: "3.8"

services:
  api:
    environment:
      - MONGO_URI=mongodb://mongo/bedrock_dev
    build:
      context: ./services/api
      args:
        NODE_ENV: development
    command: yarn start
    volumes:
      - ./services/api/src:/service/src
      - ./services/api/emails:/service/emails
      - ./services/api/fixtures:/service/fixtures
      - ./services/api/scripts:/service/scripts
      - ./services/api/.env:/service/.env
      - ./services/api/openapi:/service/openapi
    ports:
      - "2300:2300"
    links:
      - mongo
    depends_on:
      - mongo

  web:
    build:
      context: ./services/web
      args:
        NODE_ENV: development
    command: yarn start
    volumes:
      - ./services/web/src:/service/src
    ports:
      - "2200:2200"
    depends_on:
      - api

  mongo:
    image: mongo:7.0.4
    command: mongod --quiet --logpath /dev/null
    logging:
      driver: none
    ports:
      - 27017:27017
