.code {
  // TODO: this needs cleanup (colors etc);
  position: relative;
  overflow: auto;

  &--scroll {
    max-height: 500px;
  }

  &__action {
    position: absolute;
    inset: 0 0 auto auto;
    padding: 9px;
    cursor: pointer;
    color: rgb(255 255 255 / 50%);
    &:hover {
      color: #fff;
    }
  }
}
