{
  "presets": [
    "babel-preset-expo"
  ],
  "plugins": [
    "transform-export-extensions",
    ["module-resolver", {
        "root": [
          "./src",
          "./assets"
        ]
      }
    ]
  ],
  "env": {
    "development": {
      "plugins": [
        "@babel/plugin-proposal-export-namespace-from"
      ]
    }
  }
}
