{
  "env": {
    "node": true,
    "browser": true
  },
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "legacyDecorators": true
    }
  },
  "extends": [
    "plugin:bedrock/recommended",
    "plugin:bedrock/react",
    "plugin:bedrock/jest"
  ],
  "globals": {
    "__ENV__": "readonly"
  }
}
