.portal-layout {
  --header-height: 100px;

  &__menu {
    position: fixed;
    width: 100%;
    z-index: 1000;
    height: var(--header-height);
    border: none;
    border-bottom: 1px solid #dbdbdb;

    .logo {
      display: block;
      margin-left: 14px;
    }

    &-top {
      padding: 10px 15px 0 15px;
    }

    &-bottom {
      margin: 2px 0 0 0 !important;
      padding: 0 !important;
    }
  }

  &__content {
    padding: var(--header-height) 0 0 0;
  }
}
