{
  "env": {
    "node": true
  },
  "extends": [
    "plugin:bedrock/recommended",
    "plugin:bedrock/jest"
  ],
  "rules": {
    "no-console": [
      "warn",
      {
        "allow": ["warn", "error", "info"]
      }
    ]
  }
}
