{
  "env": {
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": "latest"
  },
  "settings": {
    "jest": {
      "version": 26
    }
  },
  "extends": [
    "plugin:bedrock/recommended",
    "plugin:bedrock/jest"
  ]
}
