@import '../../styles/responsive';
// TODO: clean this up

.docs {
  --sidebar-width: 220px;
  height: calc(100vh - var(--header-height));

  .ui.table td {
    vertical-align: top;
  }

  &__sidebar {
    position: fixed;
    z-index: 1;
    top: var(--header-height);
    width: var(--sidebar-width);
    padding: 15px 2px 5px 0;
    border-right: 1px solid #dbdbda;
    height: calc(100% - var(--header-height));
    display: flex;
    flex-flow: column;
    gap: 10px;

    @media @mobile {
      display: none;
    }

    h2 {
      margin: 0 15px;
      font-weight: 600;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    &-scroll {
      overflow-y: auto;
    }

    &-link {
      display: block;
      font-size: 16px;
      margin-bottom: 0.6em;
      padding-left: 15px;
      margin-right: 10px;
      color: #1f1f1f;
      margin-top: 0.5em;

      &:hover {
        color: #6a903e;
      }
    }

    &-sublink {
      display: block;
      font-size: 13px;
      margin-right: 15px;
      padding: 0.1em 10px 0.1em 25px;
      margin-bottom: 0.2em;
      color: #1f1f1f;
      border-radius: 0 4px 4px 0;
      font-weight: 500;

      &:hover {
        color: #6a903e;
      }

      &--active {
        background-color: #6a9b33;
        &,
        &:hover {
          color: #fff !important;
        }
      }
    }
  }

  &__page {
    padding-top: 10px;
    padding-left: calc(var(--sidebar-width) + 30px);
    padding-bottom: 80px;
    padding-right: 30px;
    height: 100%;
    overflow-y: auto;
    min-width: 0;
    min-height: 0;
    font-size: 16px;

    @media @mobile {
      padding-left: 20px;
    }

    a,
    span.link {
      color: #387bb1;
      cursor: pointer;
    }

    .code-copy-container {
      font-size: 14px;
    }
  }

  &__types {
    font-size: 14px;

    span {
      color: #777;
      font-weight: 500;
    }

    code {
      background-color: #ececec;
      padding: 0.1em 0.4em;
      border-radius: 3px;
    }
  }

  &__edit {
    &-buttons {
      display: flex;
      justify-content: right;
      padding: 5px;
      gap: 8px;

      .icon {
        width: 16px;
        height: 16px;
      }

      &-record {
        &--active {
          color: red;
        }
      }
    }
  }

  &__item {
    margin-top: 20px;
    margin-bottom: 30px;

    &-name {
      font-size: 20px;
    }
  }

  // TODO: rename;

  &__param {
    &-pointer {
      position: relative;
      width: 41px;
      --pointer-color: #b3c399;
      --pointer-width: 1.5px;

      &:before {
        content: '';
        position: absolute;
        top: 17px;
        right: 14px;
        height: 12px;
        border-right: var(--pointer-width) solid var(--pointer-color);
      }

      &:after {
        content: '';
        position: absolute;
        top: 22px;
        right: 14px;
        bottom: -22px;
        width: 25px;
        border-top: var(--pointer-width) solid var(--pointer-color);
        border-left: var(--pointer-width) solid var(--pointer-color);
      }

      tbody tr:last-child &:after {
        border-left: none;
      }
    }

    &-name {
      width: 1px;
      font-size: 16px;
      min-width: 70px;
    }

    &-description {
      font-size: 16px;
    }

    &-required {
      color: #d64c46;
      margin-top: 0.5em;
      font-size: 13px;
      font-weight: 600;
    }

    &-default {
      margin-top: 1em;
      font-size: 14px;

      &-title {
        font-weight: bold;
      }

      > pre {
        background-color: #ececec;
        padding: 5px 10px;
        border-radius: 3px;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
      }

      > code {
        background-color: #ececec;
        padding: 0.1em 0.4em;
        border-radius: 3px;
      }
    }
  }

  &__divider {
    height: 4px;
  }

  &__params {
    width: 100%;
    border-collapse: collapse;

    th,
    td {
      padding: 12px 20px 12px 0;
      vertical-align: top;
    }

    th {
      text-align: left;
      font-size: 14px;
      font-weight: 500;
      background-color: #ededed;
    }

    td {
      border: none !important;
    }

    tr:not(:last-child) td:last-child {
      border-bottom: 1px solid #e9e9e9 !important;
    }
  }

  &__component {
    margin-top: -10px;
    padding-top: 10px;
  }

  &-example {
    border-radius: 3px;
    margin-bottom: 10px;
    background-color: #2e2e2e;
    color: #fff;

    a {
      font-weight: 600;
      color: #317bc1;
    }

    &__title {
      padding: 5px 10px;
      border-radius: inherit;
      font-weight: 500;
      color: #fff;
      cursor: pointer;

      &--good {
        background-color: #3da738;
      }

      &--bad {
        background-color: #d54242;
      }
    }

    &__schema {
      padding: 10px 20px;
    }

    &__body {
      padding: 5px 20px;

      pre {
        color: #fff;
        background-color: #1f1f1f;
        font-size: 13px;
        padding: 5px 10px;
        font-family: Menlo, Monaco, Consolas, 'Roboto Mono', monospace;
        -webkit-font-smoothing: antialiased;
        border-radius: 2px;
        max-height: 50vh !important;
      }
    }
  }
}
