@easeInCubic: cubic-bezier(0.550, 0.055, 0.675, 0.190);
@easeOutCubic: cubic-bezier(0.215, 0.610, 0.355, 1.000);
@easeInOutCubic: cubic-bezier(0.645, 0.045, 0.355, 1.000);

@easeInQuart: cubic-bezier(0.895, 0.030, 0.685, 0.220);
@easeOutQuart: cubic-bezier(0.165, 0.840, 0.440, 1.000);
@easeInOutQuart: cubic-bezier(0.770, 0.000, 0.175, 1.000);

@easeInBack: cubic-bezier(0.600, -0.280, 0.735, 0.045);;
@easeOutBack: cubic-bezier(0.175, 0.885, 0.320, 1.275);
@easeInOutBack: cubic-bezier(0.680, -0.550, 0.265, 1.550);
